header .header-top {
  padding: 1.5rem 0 2rem 0;
}

header .header-top .header-top_logo {
  font-size: 2.6rem;
  font-weight: bold;
  font-family: var(--font-montserrat);
}

header .header-top .header-top_logo span {
  font-weight: bold;
  color: var(--red-300);
}

header .header-top .header-top_phone {
  font-size: 1.4rem;
  font-family: var(--font-catamaran);
}

header .header-top .header-top_phone span.t1 {
  font-weight: 600;
}

header .header-top .header-top_social .header-top_social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease;
}

header .header-top .header-top_social .header-top_social-box:hover {
  background-color: var(--red-300);
  border-color: var(--red-300);
  color: #fff;
}

header .header-bottom {
  padding: 1.5rem 0 0rem 0;
  font-family: var(--font-catamaran);
}

header .header-bottom .menu .menu-item {
  font-size: 0.9rem;
  color: var(--gray-300);
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
}

header .header-bottom .menu .menu-item::after {
  content: "";
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  top: 50%;
}

header .header-bottom .menu .menu-item .menu-child {
  display: none;
  top: 135%;
  position: absolute;
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

header .header-bottom .menu span {
  padding-right: 5px;
}

header .header-bottom .menu .menu-item:hover .menu-child {
  display: block;
}

header .header-bottom .menu .menu-item:hover span {
  color: var(--red-300);
  transition: all 0.1s ease;
}

header .header-bottom .menu .menu-item .menu-child::before {
  content: "";
  top: -10px;
  left: 17px;
  width: 0;
  height: 0;
  animation: triangleMenu 0.5s ease;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #f35444;
  position: absolute;
}

header .header-bottom .menu .menu-item .menu-child .menu-child_item {
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
}

header .header-bottom .menu .menu-item .menu-child .menu-child_item:hover {
  color: black;
}

header
  .header-bottom
  .menu
  .menu-item
  .menu-child
  .menu-child_item:hover::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--red-300);
  animation: show 0.5s ease;
}

header .header-bottom .menu .menu-item span {
  text-transform: uppercase;
}

header .header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--red-300);
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: var(--red-300);
  background-color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  .header-bottom {
    left: 55%;
  }
}

@media only screen and (max-width: 576px) {
  .header-bottom {
    left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .overflow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 900;
    background-color: #000000d5;
    animation: show 0.5s ease;
    display: none;
  }

  .header-bottom {
    background-color: rgb(255, 121, 121);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    animation: fadeLeft 0.5s ease;
  }

  .header-bottom .icon {
    font-size: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
    color: #fff;
  }

  .header-bottom .menu {
    display: block !important;
    width: 100%;
  }

  .header-bottom .menu .menu-item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    color: #fff !important;
    font-size: 1.2rem !important;
    padding: 1rem 1.2rem !important;
  }

  .header-bottom .menu .menu-item.input-search {
    background-color: #fff;
    margin: 0 1rem;
    border-radius: 20px;
  }

  .header-bottom .menu .menu-item.input-search i {
    color: #000;
  }

  .header-bottom .menu .menu-item .menu-child {
    width: 100%;
    left: 0;
    top: 95% !important;
    border-radius: initial !important;
    color: var(--red-300);
  }

  .header-bottom .menu .menu-item .menu-child li a {
    font-size: 1.2rem;
  }
}
