.background {
  position: relative;
  height: 1000px;
  background-image: url("../images/home2_bak-slide_1920x1060.jpg");
  background-position: center;
  background-repeat: no-repeat;
  @media only screen and (max-width: 992px) {
    height: 700px;
    padding-top: 100px;
  }
  overflow: hidden;
  padding-top: 174px;
}

.background img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.background .img-lazy.book img {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 38%;
  animation: fadeRight 1s ease;
  z-index: 1;
}

.background .img-lazy.ipad {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 10%;
  top: 55%;
  animation: fadeRight 1.3s ease;
  z-index: 1;
}

.background .img-lazy.bush {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 65%;
  top: 40%;
  animation: fadeLeft 1s ease;
  z-index: 1;
}

.background .img-lazy.pen {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 60%;
  top: 65%;
  animation: fadeLeft 1.3s ease;
  z-index: 1;
}

.background .img-lazy.headphones {
  position: absolute;
  width: 250px;
  height: 200px;
  left: 42%;
  top: 80%;
}

.button {
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-montserrat);
  font-size: 1rem;
  font-weight: 500;
  max-width: 150px;
  margin: auto;
}

.button.btn-bg-black {
  background-color: #000;
}

.button.btn-bg-black:hover {
  background-color: var(--red-300) !important;
}

.button.btn-bg-red {
  background-color: var(--red-300);
}

.button.btn-bg-red:hover {
  background-color: #000 !important;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}
